# GitHub 
OWNER=konstantinsimusev

# Базовые настройки
PORT=3000
DB_ADDRESS=mongodb://student:password@database:27017/weblarek?authSource=admin
JWT_SECRET=jwt-secret

# Настройки загрузки файлов
UPLOAD_PATH=images
UPLOAD_PATH_TEMP=temp

# Настройки аутентификации
AUTH_ACCESS_TOKEN_SECRET=auth-access-token-secret
AUTH_ACCESS_TOKEN_EXPIRY=10m

AUTH_REFRESH_TOKEN_SECRET=auth-refresh-token-secret
AUTH_REFRESH_TOKEN_EXPIRY=7d

# Настройки CORS для разработки
ORIGIN_ALLOW=http://localhost

# Настройки CORS для продакшена
# ORIGIN_ALLOW=https://global-pack-studio.ru

# MongoDB
MONGO_INITDB_ROOT_USERNAME=root
MONGO_INITDB_ROOT_PASSWORD=example
MONGO_INITDB_DATABASE=admin

# Docker frontend
VITE_API_ORIGIN=http://localhost/api
